
@mixin backgroundProyects {
  background-size: cover;
  width: 20%;
  justify-content: space-between;
  background-repeat: no-repeat;
}

@mixin  backroundPhone{
  width: 330px;
  margin-bottom: 5%;
}

@mixin animationBorder {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  transition: all .3s;
}
