.second-wrapper{
  background-color:#0b0b0b;
}
.content-skills{
  display: flex;
}

.web-skills{
  justify-content: space-between;
  padding-left: 9%;
  padding-right: 17%;
}

.web-skills h2{
  display: inline-block;
  letter-spacing: 2px;
  text-align: center;
  font-size: 2.5rem;
}

.web-skills img{
  margin-left: 15px;
  margin-top: 10px;
  max-width: 100%;
}

.design-skills{
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 5%;
}

.design-skills h2{
  display: inline-block;
  letter-spacing: 2px;
  text-align: center;
  font-size: 2.5rem;
}

.design-skills img{
  margin-left: 15px;
}

.soft-skills{
  justify-content: space-between;
  padding-left: 14%;
}

.team-player{
  margin-top: 0;
}


.soft-skills h2{
  letter-spacing: 2px;
  font-size: 2.5rem;
  display: inline-block;
}

.soft-skills p{
  font-size: 1.25rem;
}

.Projects{
  display: inline-block;
  font-size: 3.75rem;
  margin-left: 6%;
}

.Main-content2{
  display: flex
}

.category2{
  padding-bottom: 56%;
}

.background-firstproject{
  width: 100%;
  justify-content: space-between;
  margin-left: 6%;
  background-image: url(../../Img/img-1.png);
  background-repeat: no-repeat;
}

.background-secondproject{
  justify-content: space-between;
  width: 100%;
  background-image: url('../../Img//Cuda.png');
  background-repeat: no-repeat;
}


.background-thirproject{
  justify-content: space-between;
  width: 100%;
  background-image: url('../../Img/Red-page.png');
  background-repeat: no-repeat;
}

.More-projects{
  padding-top:3%;
  display: flex;
  justify-content: center;
}

.More-projects a{
  font-size: 1.875rem;
  text-decoration: none;
}
